/* styles.scss (or your custom SCSS file) */

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Hide scrollbars for the body */
  }
  
  /* Header Styles */
  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #43516a;
    color: #fff;
    // padding: 10px;
  }
  
  /* Container Styles */
  .container {
    display: flex;
    height: calc(100vh - 100px);
    margin-top: 50px;
  }
  
  /* Left Menu Styles */
  .left-menu {
        top: 50px;
        left: 0;
        background-color: #273143;
        color: #fff;
        width: 200px;
        height: calc(100vh - 100px);
  }
  
  /* Content Styles */
  .content {
    flex: 1;
    overflow-y: auto;
  }
  
  /* Footer Styles */
  app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #43516a;
    color: #fff;
    /* padding: 10px; */
    height: 50px;
  }
  
  /* Responsive Layout */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .left-menu {
      width: 100%; /* Take up full width on smaller screens */
      left: auto;
      right: 0;
    }
    
    .content {
      margin-left: 0; /* Remove margin for smaller screens */
    }
  }

// For tooltip
.ng-tooltip {
    pointer-events: none;
    position      : absolute;
    max-width     : 300px;
    font-size     : 12px;
    text-align    : left;
    color         : #ffffff;
    padding       : 8px 12px;
    background    : #000000;
    border-radius : 2px;
    z-index       : -222;
    top           : 0;
    opacity       : 0;
    // white-space   : break-spaces;
    // margin-top    : -5px;
    word-break    : break-word;

    * {
        color: #ffffff !important;
    }

    &:empty {
        display: none !important;
    }

    &.white {
        box-shadow: 0 2px 8px 0 rgba(28, 91, 209, 0.35);
        color     : #747576;
        background: #ffffff;
        text-align: left;
    }

    &.animate {
        &-top {
            -webkit-animation: tooltip-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation        : tooltip-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        &-right {
            -webkit-animation: tooltip-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation        : tooltip-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        &-bottom {
            -webkit-animation: tooltip-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation        : tooltip-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        &-left {
            -webkit-animation: tooltip-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation        : tooltip-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }

    &-top {
        &:after {
            top         : 100%;
            left        : 50%;
            margin-left : -5px;
            border-width: 5px;
            border-color: #000000 transparent transparent transparent;
        }

        &.white {
            &:after {
                border-color: #f1f1f1 transparent transparent transparent;
            }
        }
    }

    &-bottom {
        &:after {
            bottom      : 100%;
            left        : 50%;
            margin-left : -5px;
            border-width: 5px;
            border-color: transparent transparent #000000 transparent;
        }

        &.white {
            &:after {
                border-color: transparent transparent #f1f1f1 transparent;
            }
        }
    }

    &-left {
        &.white {
            &:after {
                border-color: transparent transparent transparent #f1f1f1;
            }
        }

        &:after {
            top         : 50%;
            left        : 100%;
            margin-top  : -5px;
            border-width: 5px;
            border-color: transparent transparent transparent #000000;

            @-moz-document url-prefix() {
                // top         : calc(50% - 10px);
                // left        : calc(100% + 9px);
                margin-top  : -5px;
                border-width: 5px;
                border-color: transparent transparent #000000 transparent;
                transform   : rotate(90deg);
            }
        }
    }

    &-right {
        &.white {
            &:after {
                border-color: transparent #f1f1f1 transparent transparent;
            }
        }

        &:after {
            top         : 50%;
            right       : 100%;
            margin-top  : -5px;
            border-width: 5px;
            border-color: transparent #000000 transparent transparent;

            @-moz-document url-prefix() {
                // top         : calc(50% - 10px);
                // right       : calc(100% + 9px);
                margin-top  : -5px;
                border-width: 5px;
                border-color: transparent transparent #000000 transparent;
                transform   : rotate(-90deg);
            }
        }
    }

    &-bottom-right {
        &:after {
            bottom      : 100%;
            left        : 100%;
            margin-left : -20px;
            border-width: 5px;
            border-color: transparent transparent #000000 transparent;
        }

        &.white {
            &:after {
                border-color: transparent transparent #f1f1f1 transparent;
            }
        }
    }

    &-bottom-left {
        &:after {
            bottom      : 100%;
            left        : 0px;
            margin-left : 10px;
            border-width: 5px;
            border-color: transparent transparent #000000 transparent;
        }

        &.white {
            &:after {
                border-color: transparent transparent #f1f1f1 transparent;
            }
        }
    }

    &-top-left {
        &:after {
            top         : 100%;
            left        : 0;
            margin-left : 10px;
            border-width: 5px;
            border-color: #000000 transparent transparent transparent;
        }

        &.white {
            &:after {
                border-color: #f1f1f1 transparent transparent transparent;
            }
        }
    }

    &-top-right {
        &:after {
            top         : 100%;
            left        : 100%;
            margin-left : -5px;
            border-width: 5px;
            border-color: #000000 transparent transparent transparent;
        }

        &.white {
            &:after {
                border-color: #f1f1f1 transparent transparent transparent;
            }
        }
    }

    &:after {
        content     : '';
        position    : absolute;
        border-style: solid;
    }

    span.within {
        font-size: 80%;
        display  : block;
        width    : 100%;
    }

    .small {
      display  : block;
      font-size: 10px;

      em {
        font-style: italic;
      }
    }
}

.ng-tooltip-show {
    pointer-events: none;
    opacity       : 1;
    z-index       : 2147483001;
}